<body>
<div class="container">
    <header>
        {% include('header.html.twig') %}
    </header>

    <main>
        <h1>Ajouter une catégorie</h1>

        <p/>

        {{ form_start(categoryForm) }}
        {{ form_row(categoryForm.name) }}

        <p/>

        <button type="submit" class="btn btn-success">Ajouter</button>

        {{ form_end(categoryForm) }}
    </main>

    <footer>
        {% include('footer.html.twig') %}
    </footer>
</div>
</body>