<body>
<div class="container">
    <header>
        {% include('header.html.twig') %}
    </header>

    <main>
        <a href={{ path('add_category') }}>Ajouter une catégorie</a>

        <br/>

        {% for category in categories %}
            <div>
                <a href="#"> {{ category.name }}</a>
                -
                <a href="{{ path('modify_category', {'id': category.id}) }}">Modifier</a>
            </div>
        {% endfor %}
    </main>

    <footer>
        {% include('footer.html.twig') %}
    </footer>
</div>
</body>