<body>
<div class="container">
    <header>
        {% include('header.html.twig') %}
    </header>

    <main>
        <h1>Modifier la catégorie</h1>

        <br/>

        {{ include('idea/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        {{ include('category/_delete_form.html.twig') }}

        <a href="{{ path('list_category') }}">Retour</a>
    </main>

    <footer>
        {% include('footer.html.twig') %}
    </footer>
</div>
</body>