<body>
    <div class="container">
        <header>
            {% include('header.html.twig') %}
        </header>

        <main>
            <p>
                Lorem ipsum dolor sit amet. Est consequatur dolor aut quod autem et velit ducimus est magni ipsam. Aut doloribus fuga non molestiae aliquid At placeat consequuntur? Ut natus nesciunt eum veritatis minus ut temporibus quibusdam sed blanditiis pariatur aut maxime deserunt et debitis dolorem in aliquam consequuntur. Et labore internos vel nobis aspernatur qui labore nihil ut omnis consequatur est omnis inventore et consectetur eaque est cupiditate impedit!

                Et eaque labore eum exercitationem consectetur id voluptatem voluptas ex deleniti natus hic mollitia quae qui error consequatur. Vel neque libero id inventore mollitia eum numquam repellendus aut omnis voluptatem. Et odit dolorum est excepturi laboriosam non earum laudantium ex corrupti voluptas qui dolores quod. Et laborum galisum ab quia dicta et cumque unde qui internos illo sed animi suscipit.

                Aut dolor recusandae id quis mollitia qui autem saepe ab rerum accusamus. Sed iure rerum et voluptas assumenda et Quis quas ut recusandae aut voluptatem cupiditate? Et incidunt optio aut rerum autem id enim ipsam. Aut consequatur distinctio eos fugit officiis aut impedit expedita sed facere explicabo.
            </p>
        </main>

        <footer>
            {% include('footer.html.twig') %}
        </footer>
    </div>
</body>