<body>
    <div class="container">
        <header>
            {% include('header.html.twig') %}
        </header>

        <main>
            <h1>Ajouter une idée</h1>

            <p/>

            {{ form_start(ideaForm) }}
            {{ form_row(ideaForm.title) }}
            {{ form_row(ideaForm.description) }}
            {{ form_row(ideaForm.author, {'value' : app.user.getUsername() }) }}
            {{ form_row(ideaForm.category) }}

            <p/>

            <button type="submit" class="btn btn-success">Ajouter</button>

            {{ form_end(ideaForm) }}
        </main>

        <footer>
            {% include('footer.html.twig') %}
        </footer>
    </div>
</body>