<body>
    <div class="container">
        <header>
            {% include('header.html.twig') %}
        </header>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <main>
            <h1>{{ idea.title }}</h1>

            {{ idea.Category.name }}

            <p/>
            <div class="container">
                {{ idea.description }}
            </div>
            <p/>
            {{ idea.author }} - {{ idea.dateCreated | date('d/m/Y') }}
        </main>

        <footer>
            {% include('footer.html.twig') %}
        </footer>
    </div>
</body>