<body>
    <div class="container">
        <header>
            {% include('header.html.twig') %}
        </header>

        <main>
            <h1>Welcome to Bucket-List!</h1>

            <p>Lorem ipsum dolor sit amet. Ut molestiae mollitia sed eius dolorem rem laboriosam autem sed unde modi. Qui quam facilis et voluptatum quibusdam eos inventore minus vel vero distinctio sit error dolorem et officia neque est quam aperiam. Aut iste reprehenderit vel temporibus aliquam qui nostrum eveniet id rerum itaque rem autem amet. Est sint corrupti ut porro rerum et aliquid nemo.</p>
        </main>

        <footer>
            {% include('footer.html.twig') %}
        </footer>
    </div>
</body>