<body>
    <div class="container">
        <header>
            {% include('header.html.twig') %}
        </header>

        <main>
            {% for idea in ideas %}
                <div>
                    <a href="{{ path('detail', {'id': idea.id}) }}"> {{ idea.title }}</a>
                    -
                    <a href="{{ path('idea_edit', {'id': idea.id}) }}">Modifier</a>
                </div>
            {% endfor %}
        </main>

        <footer>
            {% include('footer.html.twig') %}
        </footer>
    </div>
</body>