<form method="post" action="{{ path('idea_delete', {'id': idea.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cette idée ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ idea.id) }}">
    <button class="btn">Supprimer</button>
</form>
