<!doctype html>
<html lang="fr">
<head>
    <title>Bucket-List</title>
    <link rel="stylesheet" href=" {{ asset('css/app.css')  }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>

<div class="site-title">
    <img src="{{ asset("img/logo.png") }}">
    <a href="{{ path('index') }}">Bucket-List</a>
</div>

<nav>
    <ul>
        <li><a href="{{ path('index') }}">Accueil</a></li>
        <li><a href="{{ path('list') }}">Liste des idées</a></li>
        <li><a href="{{ path('about-us') }}">À propos</a></li>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href="{{ path('add') }}">Ajouter une idée</a></li>
            <li><a href="{{ path('list_category') }}">CRUD Catégories</a></li>
            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            <li><a href="#">Bonjour {{ app.user.getUsername() }}</a></li>
        {% else %}
            <li><a href="{{ path('login') }}">Se connecter</a></li>
            <li><a href="{{ path('register') }}">S'enregistrer</a></li>
        {% endif %}

    </ul>
</nav>