<body>
<div class="container">
    <header>
        {% include('header.html.twig') %}
    </header>

    <main>
        <center>
            <h1>Se connecter</h1>

            <br/>

            <form method="post">
                <label for="username">Username:</label>
                <input type="text" name="_username" id="username">

                <label for="password">Password</label>
                <input type="password" name="_password" id="password">

                <button type="submit">Login</button>
            </form>

        </center>

    </main>

    <footer>
        {% include('footer.html.twig') %}
    </footer>
</div>
</body>