<body>
<div class="container">
    <header>
        {% include('header.html.twig') %}
    </header>

    <main>
        <center>
            <h1>S'inscrire</h1>

            <br/>

            {{ form_start(registerForm) }}
            {{ form_widget(registerForm) }}
            <button type="submit">Register</button>
            {{ form_end(registerForm) }}
        </center>

    </main>

    <footer>
        {% include('footer.html.twig') %}
    </footer>
</div>
</body>